img {
	width: 300px;
}

html {
	background: url('http://i.imgur.com/Y1nHV8H.gif');
	color: white;
	font-family: "Amatica SC";
}

#modal {
  height: 100%;
  background: black;
  color: white;
  border: 100%;
}
